.landingSection {
    padding: 2rem;
    background-color: #f9f9f9;
    background-image: url("https://th.bing.com/th/id/R.e4f45119e4dc9e30ab3d77897af34672?rik=OkhAtMiQBICssQ&riu=http%3a%2f%2fst.gde-fon.com%2fwallpapers_original%2f581547_schenki_fon_sobaki_2560x1600_www.Gde-Fon.com.jpg&ehk=G%2f9fsA81vY%2fN3b3C2XYqFLqt10TG2z4siO8wy8yFYGg%3d&risl=&pid=ImgRaw&r=0");
     background-size: cover;
    background-position: center 0;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    image-rendering: pixelated;
    padding-left: 10px;
  }
  
  .landingHeading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .landingButton {
    background-color: #4c2d41;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .landingButton:hover {
    background-color: #94cf16;
  }